.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-buttons {
  display: flex;
  gap: 1rem; /* or try 16px, 24px, etc. */
  margin-top: 1.5rem;
  flex-wrap: wrap; // optional: makes buttons wrap on small screens
}

.contact-buttons .MuiButton-root {
  background-color: #569fd3;
  color: #fff;
  border-radius: 6px;
  box-shadow: none;
  text-transform: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.6em 1.5em;
  transition: background 0.2s;
}

.contact-buttons .MuiButton-root:hover {
  background-color: #017ad1;
  color: #fff;
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}