.resume-box .MuiButton-root {
  background-color: #569fd3;
  color: #fff;
  border-radius: 6px;
  box-shadow: none;
  text-transform: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.6em 1.5em;
  transition: background 0.2s;
}


.resume-box .MuiButton-root:hover {
  background-color: #017ad1;
  color: #fff;
}

.resume-download-icon-desktop {
  color: #fff !important;
  font-size: 1.1em;
  vertical-align: middle;
}

.resume-download-icon-mobile {
  font-size: 1.1em;
  vertical-align: middle;
}

.nav-link {
  text-transform: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.nav-link-dark {
  color: white !important;

  &:hover {
    color: #569fd3;
  }
}

.nav-link-light {
  color: black;

  &:hover {
    color: #017ad1;
  }
}